<!-- <h1 style="padding: 10px;border-bottom: solid 1px #000">Header</h1> -->
<header id="header">
    <div id="logo">GO</div>
    </div>
    <nav id="main">
        <a href="home">Accueil</a>
        <a href="about">L'entreprise</a>
        <a href="products">Produits</a>
        <a href="services">Services</a>
        <a href="contact">Contact</a>
    </nav>
</header>