<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header") -%>
    <h1 style="color: blueviolet">Page d'accueil</h1>
    <% ob.nom.forEach(x=>{ %>
    <h2><%= ob.salutation + " " + x %></h2>
    <% }) %>
</body>
</html>